{
    "e10": {},
    "e9": {
        "plane": {
            [
                "Unload",
                "Lift off",
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
    },
    "e11": {},
    "e6": {
        "baggage": {
            [
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Lift off",
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
    },
    "e13": {
        "baggage": {
            [
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Fuel plane",
            ]: 1,
        },
    },
    "e18": {
        "plane": {
            [
                "Unload",
                "Load cargo",
                "Lift off",
                "Fuel plane",
            ]: 1,
        },
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
    },
    "e3": {},
    "e17": {
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Unload",
                "Load cargo",
                "Lift off",
                "Fuel plane",
            ]: 1,
        },
    },
    "e1": {},
    "e2": {},
    "e15": {
        "baggage": {
            [
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Lift off",
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
    },
    "e4": {
        "plane": {
            [
                "Fuel plane",
            ]: 1,
        },
        "baggage": {
            [
                "Check-in",
            ]: 2,
        },
    },
    "e16": {
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Unload",
                "Lift off",
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
    },
    "e7": {
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Unload",
                "Load cargo",
                "Lift off",
                "Fuel plane",
            ]: 1,
        },
    },
    "e5": {
        "baggage": {
            [
                "Load cargo",
                "Check-in",
            ]: 2,
        },
        "plane": {
            [
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
    },
    "e14": {
        "plane": {
            [
                "Load cargo",
                "Fuel plane",
            ]: 1,
        },
        "baggage": {
            [
                "Load cargo",
                "Check-in",
            ]: 2,
        },
    },
    "e12": {},
    "e8": {
        "plane": {
            [
                "Unload",
                "Load cargo",
                "Lift off",
                "Fuel plane",
            ]: 1,
        },
        "baggage": {
            [
                "Unload",
                "Load cargo",
                "Check-in",
            ]: 2,
        },
    },
}