{
    "e11": [],
    "e17": [
        (
            id: "e15",
            type: "Unload",
            time: "2023-01-01T22:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e13",
            type: "Load cargo",
            time: "2023-01-01T20:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e11",
            type: "Check-in",
            time: "2023-01-01T18:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e14",
            type: "Lift off",
            time: "2023-01-01T21:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e12",
            type: "Check-in",
            time: "2023-01-01T19:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e10",
            type: "Fuel plane",
            time: "2023-01-01T17:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e1": [],
    "e18": [

        (
            id: "e13",
            type: "Load cargo",
            time: "2023-01-01T20:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e12",
            type: "Check-in",
            time: "2023-01-01T19:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
                    id: "e15",
                    type: "Unload",
                    time: "2023-01-01T22:00:00+01:00",
                    attributes: [],
                    relationships: [
                        (
                            objectId: "p2",
                            qualifier: "plane",
                        ),
                        (
                            objectId: "b3",
                            qualifier: "baggage",
                        ),
                        (
                            objectId: "b4",
                            qualifier: "baggage",
                        ),
                    ],
                ),
        (
            id: "e14",
            type: "Lift off",
            time: "2023-01-01T21:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e11",
            type: "Check-in",
            time: "2023-01-01T18:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e10",
            type: "Fuel plane",
            time: "2023-01-01T17:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e5": [
        (
            id: "e4",
            type: "Load cargo",
            time: "2023-01-01T11:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),
    ],
    "e3": [],
    "e7": [
        (
            id: "e6",
            type: "Unload",
            time: "2023-01-01T13:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e4",
            type: "Load cargo",
            time: "2023-01-01T11:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),

        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
                    id: "e5",
                    type: "Lift off",
                    time: "2023-01-01T12:00:00+01:00",
                    attributes: [
                        (
                            name: "",
                            value: false,
                        ),
                    ],
                    relationships: [
                        (
                            objectId: "p1",
                            qualifier: "plane",
                        ),
                    ],
                ),
    ],
    "e14": [
        (
            id: "e13",
            type: "Load cargo",
            time: "2023-01-01T20:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e10",
            type: "Fuel plane",
            time: "2023-01-01T17:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e12",
            type: "Check-in",
            time: "2023-01-01T19:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e11",
            type: "Check-in",
            time: "2023-01-01T18:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
            ],
        ),
    ],

    "e9": [
        (
            id: "e6",
            type: "Unload",
            time: "2023-01-01T13:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e5",
            type: "Lift off",
            time: "2023-01-01T12:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e4",
            type: "Load cargo",
            time: "2023-01-01T11:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),
    ],
    "e8": [
        (
            id: "e6",
            type: "Unload",
            time: "2023-01-01T13:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e4",
            type: "Load cargo",
            time: "2023-01-01T11:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e5",
            type: "Lift off",
            time: "2023-01-01T12:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e13": [
            (
                id: "e12",
                type: "Check-in",
                time: "2023-01-01T19:00:00+01:00",
                attributes: [],
                relationships: [
                    (
                        objectId: "b4",
                        qualifier: "baggage",
                    ),
                ],
            ),
            (
                id: "e11",
                type: "Check-in",
                time: "2023-01-01T18:00:00+01:00",
                attributes: [],
                relationships: [
                    (
                        objectId: "b3",
                        qualifier: "baggage",
                    ),
                ],
            ),
            (
                id: "e10",
                type: "Fuel plane",
                time: "2023-01-01T17:00:00+01:00",
                attributes: [],
                relationships: [
                    (
                        objectId: "p2",
                        qualifier: "plane",
                    ),
                ],
            ),
        ],
    "e15": [
        (
            id: "e14",
            type: "Lift off",
            time: "2023-01-01T21:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e13",
            type: "Load cargo",
            time: "2023-01-01T20:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e12",
            type: "Check-in",
            time: "2023-01-01T19:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e11",
            type: "Check-in",
            time: "2023-01-01T18:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e10",
            type: "Fuel plane",
            time: "2023-01-01T17:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e4": [
        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e12": [],
    "e6": [
        (
            id: "e5",
            type: "Lift off",
            time: "2023-01-01T12:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e4",
            type: "Load cargo",
            time: "2023-01-01T11:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e3",
            type: "Check-in",
            time: "2023-01-01T10:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b2",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e2",
            type: "Check-in",
            time: "2023-01-01T09:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "b1",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e1",
            type: "Fuel plane",
            time: "2023-01-01T08:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p1",
                    qualifier: "plane",
                ),
            ],
        ),
    ],
    "e2": [],
    "e10": [],
    "e16": [
        (
            id: "e15",
            type: "Unload",
            time: "2023-01-01T22:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e14",
            type: "Lift off",
            time: "2023-01-01T21:00:00+01:00",
            attributes: [
                (
                    name: "",
                    value: false,
                ),
            ],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e13",
            type: "Load cargo",
            time: "2023-01-01T20:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e10",
            type: "Fuel plane",
            time: "2023-01-01T17:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "p2",
                    qualifier: "plane",
                ),
            ],
        ),
        (
            id: "e12",
            type: "Check-in",
            time: "2023-01-01T19:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b4",
                    qualifier: "baggage",
                ),
            ],
        ),
        (
            id: "e11",
            type: "Check-in",
            time: "2023-01-01T18:00:00+01:00",
            attributes: [],
            relationships: [
                (
                    objectId: "b3",
                    qualifier: "baggage",
                ),
            ],
        ),
    ],
}